.main {
  transition: all 0.3s;
  cursor: pointer;
  background: none;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 12px;
  padding: 12px 24px;
}

.primary {
  color: #f8f8f8;
  background-color: #222;
}

.primary:hover {
  background-color: #0e0e0e;
}

.secondary {
  color: #222;
  background-color: #d9d9d9;
}

.secondary:hover {
  background-color: #c4c4c4;
}
