@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
  height: 600px;
  width: 500px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.tab-body-shadow {
  box-shadow: inset 0px 0px 25px 20px #fff;
}

.calendar svg rect {
  cursor: pointer;
  rx: 3;
}

i.fi::before {
  line-height: inherit;
}