html,
body {
  overflow: auto;
  height: 600px;
  width: 500px;
  background: #4b76e3;
  background: linear-gradient(
    180deg,
    rgba(75, 118, 227, 1) 35%,
    rgba(131, 157, 222, 1) 100%
  );
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.tabs {
  display: flex;
  padding: 8px;
}

.tab {
  cursor: pointer;
  flex: 1;
  text-transform: capitalize;
  text-align: center;

  border-radius: 13px;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  color: #aaa;
}

.tab.active {
  background: #e0e0e0;
  background: linear-gradient(
    128deg,
    rgba(75, 118, 227, 1) 50%,
    rgba(131, 157, 222, 1) 100%
  );
  color: #e2e2e2;
}

.tab:hover {
  color: #222;
}

.tab.active:hover {
  color: #e2e2e2;
}
