.activity-table-row {
  display: flex;
  justify-content: space-between;
  color: #eaeaea;
  font-size: 14px;
  padding: 4px 0;
  border-bottom: 1px solid #757575;
}

.activity-table-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 20px;
}

.domain-link {
  color: #eaeaea;
  text-decoration: none;
  word-break: break-all;
}
