{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "requirePragma": true,
  "bracketSpacing": true,
  "printWidth": 80
}
