{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "importOrder": [
    "^[a-z]",
    "^../../",
    "^../[a-z]*",
    "^\\./.*(?<!css)$",
    "css$"
  ],
  "importOrderSeparation": true
}
