.activity-date {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.custom-date-input {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #eaeaea;
  font-size: 16px;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
