.activity-date {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.custom-date-input {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #eaeaea;
  font-size: 16px;
  margin: 0 8px;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.change-date-button {
  cursor: pointer;
  border: 1px solid #757575;
  background: none;
  color: #eaeaea;
  border-radius: 5px;
  padding: 3px 18px;
}

.change-date-button:hover {
  border-color: #eaeaea;
}
