.weekend-date-picker {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selected-week-dates {
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 16px;
  width: 120px;
  text-align: center;
}
