.panel {
  margin-bottom: 8px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  padding: 16px;
  background: white;
}

.panel-header {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 4px;

  color: #1e1e1e;
}

.app-font,
.panel-header {
  font-family: 'Montserrat', sans-serif;
}
