.time-usage-week-comparison {
  font-size: 12px;
}

.time-usage {
  font-weight: 300;
}

.time-usage-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-size: 32px;
}
