.time-usage-week-comparison {
  font-size: 12px;
}

div.time-usage-container {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.time-usage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
