.daily-usage-chart-container {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.daily-usage-chart {
  padding-bottom: 8px;
}

div.daily-usage-chart-empty {
  text-align: center;
  color: #222;
}
.daily-usage-chart > canvas {
  max-height: 150px;
}
