.daily-usage-chart-container {
  min-height: 160px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #757575;
}

.daily-usage-chart {
  padding-top: 10px;
}

div.daily-usage-chart-empty {
  text-align: center;
  color: #484a5d;
}
.daily-usage-chart > canvas {
  max-height: 150px;
}
