.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.tab-button {
  cursor: pointer;
  background: none;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #757575;
  color: #757575;
}

.tab-button.active {
  color: #eaeaea;
  border-color: #eaeaea;
}

.tab-button:hover {
  color: #eaeaea;
}

.tabs > button:first-child {
  margin-right: 16px;
}
